﻿@import "../../wwwroot/lib/bootstrap/scss/mixins/_float.scss";

form {
    // buttons
    &.btn-primary {
        @include float-right;
        color: red;
    }

    &.btn-danger {
        @include float-left;
    }
}