﻿@page

<h1>Submit a character using vue.js</h1>

<form id="characterForm">
    <div class="form-group">
        <label for="Name">Name</label>
        <input type="text" class="form-control" id="Name" aria-describedby="nameHelp" placeholder="Enter name" v-model="Name">
        <small id="nameHelp" class="form-text text-muted" v-show="!InvalidName">Enter the name of the character you wish to submit.</small>
        <span class="is-invalid" v-show="InvalidName">The name is invalid, must be more than 2 characters.</span>
    </div>
    <div class="form-group">
        <label for="Race">Race</label>
        <input type="text" class="form-control" id="Race" aria-describedby="raceHelp" placeholder="Enter race" v-model="Race">
    </div>
    <div class="form-group">
        <label for="WeightKg">Weight(kg)</label>
        <input type="number" class="form-control" id="WeightKg" placeholder="Weight(kg)" v-model="WeightKg">
    </div>
    <button type="button" class="btn btn-danger" v-on:click="ResetForm">Reset Form</button>
    <button type="submit" class="btn btn-primary" ref="SubmitButton" v-bind:disabled="isSubmitDisabled" v-on:click="SubmitForm">Submit</button>
</form>