﻿@model Brolly.Models.CustomFields.CustomFieldSetupViewModel

<div class="container">
    <div class="row">
        <div class="col-md-12">
            @Html.DropDownListFor(m => m.CustomFieldTypeId, Model.CustomFieldTypeComboData, "-- Custom field types --", new {})
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @Html.DropDownListFor(m => m.CustomFieldEnteredAtId, Model.CustomFieldEnteredAtComboData, "-- View Models --", new {})
        </div>
    </div>
</div>